/*╗  ██╗ ██████╗     ██╗
██║  ██║██╔════╝     ██║
███████║██║          ██║
██╔══██║██║     ██   ██║
██║  ██║╚██████╗╚█████╔╝
╚═╝  ╚═╝ ╚═════╝ ╚════╝HTML_CSS_JAVASCRIPT_[foundational] 



   ____----____----____----____----____----____----____----____----____----                                                                
	 ____      _     ____   _____         ____   _____ __   __ _      _____  ____  
	| __ )    / \   / ___| | ____|       / ___| |_   _|\ \ / /| |    | ____|/ ___| 
	|  _ \   / _ \  \___ \ |  _|         \___ \   | |   \ V / | |    |  _|  \___ \ 
	| |_) | / ___ \  ___) || |___         ___) |  | |    | |  | |___ | |___  ___) |
	|____/ /_/   \_\|____/ |_____| _____ |____/   |_|    |_|  |_____||_____||____/   	                                                                                                                                            
  																						Base styles: HTML Elements
   ____----____----____----____----____----____----____----____----____---- */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    
}
html, body {
	margin:0;
    padding:0;
}
/*
 * highlight/selected text styles
 */

::-moz-selection {
    background: #111;
    color: #eee;
    text-shadow: none;
}

::selection {
    background: #111;
    color: #eee;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #333;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ____----____----____----____----____----____----____----____----____---- 
.___  ___.      ___           _______.___________. _______ .______                 _______.___________.____    ____  __       _______     _______.
|   \/   |     /   \         /       |           ||   ____||   _  \               /       |           |\   \  /   / |  |     |   ____|   /       |
|  \  /  |    /  ^  \       |   (----`---|  |----`|  |__   |  |_)  |             |   (----`---|  |----` \   \/   /  |  |     |  |__     |   (----`
|  |\/|  |   /  /_\  \       \   \       |  |     |   __|  |      /               \   \       |  |       \_    _/   |  |     |   __|     \   \    
|  |  |  |  /  _____  \  .----)   |      |  |     |  |____ |  |\  \----.      .----)   |      |  |         |  |     |  `----.|  |____.----)   |   
|__|  |__| /__/     \__\ |_______/       |__|     |_______|| _| `._____| _____|_______/       |__|         |__|     |_______||_______|_______/    
                                                                                                                                      
   ____----____----____----____----____----____----____----____----____---- */

header{
	position:fixed;
	z-index:1111;
	display:block;
	width:50%;
	min-height:50px;
	top:0;
	right:0;
	margin:0;padding:0;
	background-color: rgba(0,0,0,0.420);
}
header:before{
	content:" ";
	position:absolute;
	display:block;
	top:0;
	left:-50px;
	width: 0;
	height:0;
	border-style: solid;
	border-width: 0 50px 50px 0;
	border-color: transparent rgba(0,0,0,0.420) transparent transparent;

}
	.navMenu{
	
	}
		.navMenu input {
			position: absolute;
			clip: rect(0, 0, 0, 0);
		}
		.navMenu label  {
			display:none;
			cursor: pointer;
		}
		.navMenu ol{
			margin:0;
		}
			.navMenu ol>li{
				display:block;
				float:left;
			}
				.navMenu ol>li>a{
					display:block;
					padding:8px 12px;
					line-height:34px;
					background-color: rgba(0,0,0,0.33);
					color:white;
				}
				.navMenu ol>li>a:hover{
					background-color: rgba(0,0,0,1);
				}
#main{
	position:relative;
	display:block;
	width:100%;height:100%;
	margin:0;
	padding:0;
}
	#main > section{
		position:relative;
		display:block;
		width:100%;
		height:100vh;
		margin:0;
		padding:0;
	}
	#main > section:nth-child(1) {
		background:#eee;
	}
	#main > section:nth-child(2) {
		background:#ddd;
	}
	#main > section:nth-child(3) {
		background:#ccc;
	}
	#main > section:nth-child(4) {
		background:#bbb;
	}
	#main > section:nth-child(5) {
		background:#aaa;
	}
	
	#main > section.active{
		
	}
		#main > section.active:after{
			content:"";
			position:absolute;
			bottom:0;left:0;
			display: block;
			width:0%;
			height:3%;
			background:#333;
			color:#fff;
			
			animation: horizontalCycle 4s infinite;
		}

		.sectionBody{
			position:relative;
			display:block;
			margin:0;
			padding:44px 22px;
		}



footer{
	display:block;
	background:#333;
	margin:0;
	padding:22px;
	color:#aaa;
}
	footer a{
		color:#ddd;
	}


/*$$$$$\            $$\                          $$\     $$\                               
$$  __$$\           \__|                         $$ |    \__|                              
$$ /  $$ |$$$$$$$\  $$\ $$$$$$\$$$$\   $$$$$$\ $$$$$$\   $$\  $$$$$$\  $$$$$$$\   $$$$$$$\ 
$$$$$$$$ |$$  __$$\ $$ |$$  _$$  _$$\  \____$$\\_$$  _|  $$ |$$  __$$\ $$  __$$\ $$  _____|
$$  __$$ |$$ |  $$ |$$ |$$ / $$ / $$ | $$$$$$$ | $$ |    $$ |$$ /  $$ |$$ |  $$ |\$$$$$$\  
$$ |  $$ |$$ |  $$ |$$ |$$ | $$ | $$ |$$  __$$ | $$ |$$\ $$ |$$ |  $$ |$$ |  $$ | \____$$\ 
$$ |  $$ |$$ |  $$ |$$ |$$ | $$ | $$ |\$$$$$$$ | \$$$$  |$$ |\$$$$$$  |$$ |  $$ |$$$$$$$  |
\**|  \__|\__|  \__|\__|\__| \__| \__| \_______|  \____/ \__| \______/ \__|  \__|\_______/ 
* CSS Animations
*/
@keyframes horizontalCycle {
  0% {
    width:0%;
    content:'IN';
  }
  50% {
    width:100%;
    content:'OUT';
  }
  100% {
    width:0%;
    content:'IN';
  }
}
/* ____----____----____----____----____----____----____----____----____----     
	 _   _  _____  _      ____   _____  ____           ____  _         _     ____   ____   _____  ____  
	| | | || ____|| |    |  _ \ | ____||  _ \         / ___|| |       / \   / ___| / ___| | ____|/ ___| 
	| |_| ||  _|  | |    | |_) ||  _|  | |_) |       | |    | |      / _ \  \___ \ \___ \ |  _|  \___ \ 
	|  _  || |___ | |___ |  __/ | |___ |  _ <        | |___ | |___  / ___ \  ___) | ___) || |___  ___) |
	|_| |_||_____||_____||_|    |_____||_| \_\ _____  \____||_____|/_/   \_\|____/ |____/ |_____||____/ 
  																											Helper Classes
   ____----____----____----____----____----____----____----____----____---- */
/*
 * Absolutely positions elements vertically relative to parent
 * [[ nearest parent with css property position:relative ]]
 *
  */
.verticallycentered {
	height:1px;
	position:absolute;
	top:50%;margin:-11% 0;
	
	border:1px solid #000;
	border-top:0;border-right:0;
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ____----____----____----____----____----____----____----____----____----
.______       _______     _______..______     ______   .__   __.      _______. __  ____    ____  _______                       
|   _  \     |   ____|   /       ||   _  \   /  __  \  |  \ |  |     /       ||  | \   \  /   / |   ____|                      
|  |_)  |    |  |__     |   (----`|  |_)  | |  |  |  | |   \|  |    |   (----`|  |  \   \/   /  |  |__                         
|      /     |   __|     \   \    |   ___/  |  |  |  | |  . `  |     \   \    |  |   \      /   |   __|                        
|  |\  \----.|  |____.----)   |   |  |      |  `--'  | |  |\   | .----)   |   |  |    \    /    |  |____                       
| _| `._____||_______|_______/    | _|       \______/  |__| \__| |_______/    |__|     \__/     |_______|                      
                                                                                                                               
 _______   _______     _______. __    _______ .__   __.         _______.___________.____    ____  __       _______     _______.
|       \ |   ____|   /       ||  |  /  _____||  \ |  |        /       |           |\   \  /   / |  |     |   ____|   /       |
|  .--.  ||  |__     |   (----`|  | |  |  __  |   \|  |       |   (----`---|  |----` \   \/   /  |  |     |  |__     |   (----`
|  |  |  ||   __|     \   \    |  | |  | |_ | |  . `  |        \   \       |  |       \_    _/   |  |     |   __|     \   \    
|  '--'  ||  |____.----)   |   |  | |  |__| | |  |\   |    .----)   |      |  |         |  |     |  `----.|  |____.----)   |   
|_______/ |_______|_______/    |__|  \______| |__| \__|    |_______/       |__|         |__|     |_______||_______|_______/    
                                                                                                                               
   Media Queries for Responsive Design/different screen sizes.
   Code within media queries applies to the screen size defined by the media query
   ____----____----____----____----____----____----____----____----____---- */
   
/* BEGIN min-width: 1777px (large screens) */
@media only screen and (min-width: 1777px) {

}
/* END min-width: 1777px */


/* BEGIN max-width: 720px (small screens) */
@media only screen and (max-width: 720px) {

header{
	position:relative;
	width:100%;
	
}
	.navMenu label{
		display:block;
		text-align:left;
		font-size:14px;
		text-transform:uppercase;
		line-height:50px;
		padding:0 50px;margin:0;
		background:rgba(0,0,0,0.67);
		color:#ddd;
		cursor: pointer;
	}
	.navMenu label:hover{}
	
	.navMenu :checked ~ label {
		background:rgba(255,255,255,0.777);
		color:#aaa;
	}
	.navMenu :checked ~ label:hover{color:#777;}

	.navMenu label:after {content: ' [+] ';
		position:absolute;display:block;
		top:0px;right:0px;width:40px;text-align:center;
	}
	.navMenu label:hover:after {color:lime;}
	
	.navMenu :checked ~ label:after {content: ' [-] ';}
	.navMenu :checked ~ label:hover:after {color:maroon;}	
	

		.navMenu label>span{
			position:absolute;display:block;
			left:0;
			background:#000;
			color:#fff;
			width:40px;
			text-align:center;
			font-family: Arial, sans-serif;
			font-size:18px;
			line-height:50px;
			margin:0;
			
		}
		.navMenu :checked ~ label>span {
			background:#ddd;
			color:#444;
		}
		
		.navMenu label:hover>span{
			background:#ccc;
			color:#444;
		}
		.navMenu :checked ~ label:hover>span{
			background:#444;
			color:#ccc;
		}
		
		.navMenu input ~ ol {
			display: none;
		}

		.navMenu input:checked ~ ol {
			display: block;
		}
			.navMenu ol>li{
				float:none;
			}


}
/* END max-width: 720px */


/* BEGIN max-width: 540px (smaller screens) */
@media only screen and (max-width: 540px) {

}
/* END max-width: 540px */


/* BEGIN high resolution devices */
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* END high resolution devices */

/* ____----____----____----____----____----____----____----____----____----
   Print styles. (minified)
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ____----____----____----____----____----____----____----____----____---- */

@media print{blockquote,img,pre,tr{page-break-inside:avoid}*,:after,:before,:first-letter,:first-line{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}blockquote,pre{border:1px solid #999}thead{display:table-header-group}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}